* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

//write css to display footer at the bottom of the page and dont stick it to the screen. Only make it visible when the user scrolls to the bottom of the page.


.foot {
    position: static;
    width: 99%;
    height: 50px;
    background-color: #1e1e1e;
    padding-top: 500px;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}