<h1>About Page</h1>
<h1>This is a practice <strong>Angular</strong> project</h1>
<div>
<p>It is a simple website with a header, footer and a main content area.</p>

<p>It has a menu with links to the main content areas.</p>
<!-- write a few lines about angular in p tag -->
<p>Angular is a platform for building mobile and desktop web applications. It is a TypeScript-based open-source web application framework led by the Angular Team at Google and by a community of individuals and corporations.</p>

</div>