body{
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    color: #000000;
    text-align: center;
    margin: 0;
    padding: 0;
    height: 100%;
    min-height: 100vh;
    
}
img{
    width: 300px;
    height: 300px;
    //object-fit: cover;
}