<h2>{{title.toUpperCase()}} Page</h2>
<div class="form-here">
<h3>Form</h3>
<form (ngSubmit)="onSubmit(myForm)" #myForm="ngForm">
    <label for="name">Name</label>
    <input type="text" id="name" #uname="ngModel" [(ngModel)]="name" name="name" required class="form-data" placeholder="Enter your name">
    <small *ngIf="!uname.valid && uname.touched">Name is required</small><br>

    <label for="email">Email</label>
    <input type="email" id="email" #myEmail="ngModel" email [(ngModel)]="email" name="email" required class="form-data" placeholder="Enter your email">
    <small *ngIf="myEmail.errors && myEmail.errors?.['email'] && myEmail.touched">Email is not valid</small><br>
    <small *ngIf="myEmail.errors && myEmail.errors?.['required'] && myEmail.touched">Email is required</small><br>

    <label for="message">Message</label>    
    <textarea id="message" #msg="ngModel" [(ngModel)]="message" name="message" required class="form-data" placeholder="Enter your message"></textarea>
    <small *ngIf="!msg.valid && msg.touched">Message is required</small><br>

  <button class="but" type="submit" [disabled]="!myForm.valid">Submit</button>
</form>
<!-- <div *ngIf="isSubmitted" class="table-data">
<h3>Form Data</h3>
<table>
    <tr>
        <th>No.</th>
        <th>Name</th>
        <th>Email</th>
        <th>Message</th>
    </tr>
    <tr *ngFor="let message of data;let i = index">
        <td>{{i+1}}</td>
        <td>{{message.name}}</td>
        <td>{{message.email}}</td>
        <td>{{message.message}}</td>
    </tr>
</table>
</div> -->
<div class="container" *ngIf="isSubmitted">
    <app-message-detail *ngFor="let msg of data;let i = index;" [message]="msg" (delMsg)="onDel(i)"></app-message-detail>  

</div>
</div>

